.Header{
    background-color: black;
    padding: 20px;
}

.Logo{
    max-width: 200px;
}

.body{
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
}

.Footer{
    background-color: black;
    height: 80px;
}

.Footer-text{
    align-self: baseline;
    font-family: sans-serif;
    color: white;

}
