








#Page-Top{
    background-color: black;
}

.Logo{
    max-width: 200px;
}

.Footer{
    background-color: black;
   margin-top: 500px;
    height: 100px;
}

.Footer-text{
    align-self: baseline;
    font-family: sans-serif;
    color: white;

}
